.middle-section{
	margin-top: 25px;
}

#summary{
	width: 150px;
	min-height: 175px;
	background: rgba(0, 0, 0, 0.13);
	padding: 10px;
	/* border: width style color; */
	border:2px solid rgba(48, 28, 48, 1);
	display: inline-block;
	vertical-align: top;
}

#main-content{
	display:inline-block;
	vertical-align: top;
	width: 67%;
	margin-left: 3%;
	/*why does more than 5px side padding make this section not cooperate?*/
	padding: 20px 15px;
	background: rgba(0, 0, 0, 0.13);
	border:2px solid rgba(48, 28, 48, 1);
	text-align:center;
	padding: 20px auto;
}


#main-content-summary{
	width: 20%;
	/*want the total max width to be 200px. left plus right padding plus borders is 14px*/
	/*therefore the max content width is 200px - 14px*/
	max-width: 186px;
	min-height: 150px;
	background: rgba(0, 0, 0, 0.45);
	padding: 15px 10px;
	/* border: width style color; */
	border:2px solid rgba(78, 42, 132,1);
	border-radius:7px;
}


#content-summary-text, #content-summary-text-2{
	text-align: justify;
	padding: 10px 0px 0px 0px;
	line-height: 125%;
}





h1{
	font-family: 'Georgia', Times, "Times New Roman", serif;
	font-size: 20px;
	font-weight: 600;
	color: rgba(255,255,255,1);
	text-align: center;
}

h2, h3{
	font-family: "Helvetica", 'Helvetica Neue', Arial, sans-serif;
	font-size: 17px;
	color: rgba(255,255,255,1);
	text-align: center;
}

#content-name{
	line-height: 125%;
	text-align: center;
	padding: 0px 0px 10px 0px;
}


.question-outside{
	padding:20px;
	border-radius:7px 7px 0px 0px;
	background: rgba(235,235,235,1);
    background: -webkit-linear-gradient(left top, rgba(0,0,0,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(0,0,0,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(0,0,0,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(255,255,255,0))); /* Standard syntax (must be last) */
}

.question-inside{
	margin:20px;
	padding:15px;
	font-size:18px;
	color:white;
	border-radius:7px;
    background: -webkit-linear-gradient(right bottom, rgba(150,150,150,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top left, rgba(150,150,150,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top left, rgba(150,150,150,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top left, rgba(150,150,150,1), rgba(255,255,255,0))); /* Standard syntax (must be last) */
	/*background:lime;*/
}

.answer-outside{
	padding:20px;
	border-radius:0px 0px 7px 7px;
	background: rgba(235,235,235,1);
    background: -webkit-linear-gradient(left top, rgba(0,0,0,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(0,0,0,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(0,0,0,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(255,255,255,0))); /* Standard syntax (must be last) */
}

.answer-inside{
	margin:20px;
	padding:15px;
	font-size:18px;
	color:white;
	border-radius:7px;
    background: -webkit-linear-gradient(right bottom, rgba(150,150,150,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top left, rgba(150,150,150,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top left, rgba(150,150,150,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top left, rgba(150,150,150,1), rgba(255,255,255,0))); /* Standard syntax (must be last) */
	/*background:lime;*/
}

	/*use overflow auto if you want a scrollbar only if the content
	is clipped. use overflow scroll if you always want to see the
	scrollbars, which are disabled if no content is clipped.
	overflow:auto;*/