.app-name{
	position:absolute;
	right:15px;
	top:0;
	display:inline-block;
	border:none;
	border-bottom: 1.5px solid rgba(255, 255, 255, 1);
	text-decoration:none;
	padding: 5px;
	color: rgba(48, 28, 48, 0.5);
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 11px 11px 10px 1px rgba(0,0,0,0.2);
	-webkit-transition: color 1s, box-shadow 1s; /* For Safari 3.1 to 6.0 */
    transition: color 1s, box-shadow 1s;
}

.app-name:hover{
	color: rgba(48, 28, 48, 1);
	box-shadow: -11px 7px 10px 5px rgba(0,0,0,0.35);
}

#shadow-box-outer{
	width: 55%;
	margin: 0% 22.5%;
	font-size: 15px;
	height: 25px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.45);
    /*as this box has the box shadow, in order for the shadow to appear on top of content below,
    position should be relative http://stackoverflow.com/questions/9199433/cant-get-box-shadow-to-appear-above-div*/
    position:relative;
}

#bet-request{
	position:fixed;
	width: 272px;
	/*to center horizontally, left 50% and margin-left = half of the width of this element*/
	left: 50%;
	margin-left: -136px;
	top: 60px;
}

#form-input-bet{
	text-align:center;
	font-size: 15px;
}

#input-bet{
	width: 200px;
	text-align: center;
	font-size: 1em;
	border: 0.5px solid rgba(48, 28, 48, 1);
	box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.45);	
}

#add-bet-button{
	font-family: "Helvetica", 'Helvetica Neue', Arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	color: rgba(48, 28, 48, 1);
	border: 1px solid rgba(48, 28, 48, 1);
	background: rgba(255, 255, 255, 1);
	cursor:pointer;
	box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.45);
}

#add-bet-button:hover{
	color: rgba(255, 255, 255,1);
	background: rgba(48, 28, 48, 1);
}

#roll-button{
	width: 50px;
	height: 50px;
	text-align:center;
	color: rgba(255, 255, 255,1);
	background-color: lime;
	border: 1px solid rgba(48, 28, 48, 1);
	border-radius: 25px;
	margin:7px auto;
	cursor: pointer;
	-webkit-transition: -webkit-transform 1s, box-shadow 0.2s; /* For Safari 3.1 to 6.0 */
    transition: transform 1s, box-shadow 0.2s;
    margin-top: 40px;
}

#roll-button:hover{
	cursor: pointer;
	background-color: lime;
	/*-webkit-transform: rotate(720deg);*/ /* Safari */
    /*transform: rotate(720deg);*/
}

#roll-button:active{
	background-color: purple;
	/*http://www.w3schools.com/cssref/css3_pr_box-shadow.asp
	horizontal shadow position; vertical shadow position; blur distance; shadow size; color*/
    box-shadow: 0px 0px 5px 5px rgba(48, 28, 48, 0.5);
}

#roll-description, #point-number{
	height: 12.5px;
	width: 100%;
	font-size:10px;
	line-height: 25px;
}

#point-number{
	line-height:6.25px;
}

#roll-word{
	height: 25px;
	width: 100%;
	font-size: 20px;
	line-height:25px;
	font-weight: 700;

}

#player-bets{
	text-align:center;
}

#bet-summary-primary{
	display: inline-block;
	width: 230px;
	border: 1px solid rgba(48, 28, 48, 1);
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.45);
	color: white;
	background-color: rgba(190, 190, 190, 1);
	margin: 15px;
	vertical-align: top;
}

.bet-summary{
	display: inline-block;
	width: 230px;
	border: 1px solid rgba(48, 28, 48, 1);
	box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.45);
	color: white;
	background-color: rgba(190, 190, 190, 1);
	margin: 15px;
	vertical-align: top;
}

.player-heading{
	margin: 5px;
}

.player-name{
	display:inline;
}

.player-balance{
	display: inline;
	margin-left: 5px;
}

.lacinato{
	width: 90%;
	margin: 0 auto;
	/*background-color: lime;*/
	margin-top: 15px;
}

.lacinato:nth-child(2){
	margin-top: 0;
}

.lacinato:last-child{
	margin-bottom: 5%;
}

.lacinato-header{
	border-radius: 11px 11px 0px 0px;
	border: 5px solid white;
	border-bottom:none;
	background-color: rgba(48, 28, 48, 1);
	color: rgba(255, 255, 255, 1);
	height: 20px;
	font-size: 18px;
	line-height:20px;
	text-align:left;
	padding: 3px 5px;
}

.lacinato-content{
	border-radius: 0px 0px 11px 11px;
	border: 5px solid lime;
	border-top: none;
	background-color: rgba(255, 255, 255, 1);
	color: purple;
	min-height: 25px;
	font-size: 15px;
	text-align:left;
	padding: 3px 5px;
}

#roll-results{
	background-color: rgba(255, 255, 255, 1);
	color: black;
	border: 1px solid black;
	overflow: auto;
	height:64px;
}

.two-dice{
	display: inline-block;
}

.dice-result{
	height: 15px;
	width: 15px;
	background-color: rgba(255, 0, 0, 0.8);
	color: rgba(255, 255, 255, 1);
	text-align: center;
	line-height: 15px;
	padding: 5px;
	margin: 3px;
	-webkit-transition: background-color 2s; /* For Safari 3.1 to 6.0 */
    transition: background-color 2s;
}