/*http://www.w3schools.com/css/css3_transitions.asp
http://www.w3schools.com/css/css3_animations.asp
http://www.w3schools.com/colors/colors_picker.asp
http://www.w3schools.com/cssref/css_units.asp
http://www.w3schools.com/css/css_align.asp*/

/*http://stackoverflow.com/questions/609517/why-em-instead-of-px
*/

body{
	/*background: url("../images/two.jpg");
	background-repeat: no-repeat;*/
	/*background color for areas not covered by background image*/
	/* these rgba values correspond to background-color: #404040
	final number indicates opacity; 0 = invisible, 1 = opaque*/
	/*Hexadecimal: #4E2A84*/
	/*background-color: rgba(78, 42, 132,1);*/
	/*background-size: 100%;*/
	/*background-size: contain;
	background-position: center;*/
	background-color:rgba(255, 255, 255, 1);
	/*define default font family, size, color, and weight:*/
	font-family: "Helvetica", 'Helvetica Neue', Arial, sans-serif;
	font-size: 15px;
	color: rgba(0, 0, 0, 1);
	font-weight: 400;
}

#welcome{
	/*display inline-block makes this div content only the size of the contents*/
	display: inline-block;
	width: 80px;
	height:17px;
	line-height: 17px;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	letter-spacing: 2px;
	/*set margin-right to -2px because letter-spacing is 2px, and we need to counteract the final 2px space created at the end of the last letter
	margin-right:-2px;*/
	text-align: center;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(48, 15, 45, 1);
	padding: 10px;
	border: 1px solid lime;
	border-radius: 7px;
	/*with position fixed, can center this div relative to the viewport using
	left, right, top, and bottom. But then must account for the width and height
	of this div, so give negative margins*/
	position: fixed;
	left: 50%;
	margin-left: -50px;
	top: 50%;
	margin-top: -18.5px;
	-webkit-transition: background-color 3s, -webkit-transform 1.5s, box-shadow 3s; /* For Safari 3.1 to 6.0 */
    transition: background-color 3s, transform 1.5s, box-shadow 3s;
}

#welcome:hover{
	cursor: pointer;
	background-color: lime;
	-webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
    /*http://www.w3schools.com/cssref/css3_pr_box-shadow.asp
	horizontal shadow position; vertical shadow position; blur distance; shadow size; color*/
    box-shadow: 8px 8px 15px rgba(48, 15, 45, 1);
}

header{
	width:100%;
	background-color: rgba(255, 255, 255, 0.35);
	color: #f2f2f2;
	padding:0;
	border:0;
	margin:0;
	border-bottom: 1.5px solid rgba(255, 255, 255, 0.35);
	-webkit-transition: background-color 1s, border-bottom 3s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s, border-bottom 3s;
}

header:hover{
	background-color: rgba(65,65,65,0.85);
	border-bottom: 1.5px solid rgba(48, 15, 45, 0.85);
}

#home{
	font-family: 'Georgia', Times, "Times New Roman", serif;
	letter-spacing: 5px;
	padding-left: 5px;
	padding-right: 10px;
}

/*#header-links{
	display: inline-block;
}*/

.hlink{
	padding: 5px;
	border-width: 1.5px 1.5px 0px;
	border-radius: 5px 5px 0px 0px;
	border-color: rgba(255, 255, 255, 0.5);
	border-style: solid;
	-webkit-transition: border-color 1s, box-shadow 1s; /* For Safari 3.1 to 6.0 */
    transition: border-color 1s, box-shadow 1s;
}

.hlink:hover{
	border-color: rgba(48, 15, 45, 1);
	color: rgba(65,65,65,0.85);
	background-color: #f2f2f2;
	box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.35);
	cursor: default;
}

.kale{
	display: inline-block;
}


/* Dropdown Button */
/* The container <div> - needed to position the dropdown content */
.dropdown{
	/*position relative so dropdown-content may be positioned absolutely*/
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    /*position left -1.5px because border is 1.5px*/
    left:-1px;
    top:24.5px;
    color: rgba(65,65,65,0.85);
	background-color: #f2f2f2;
    min-width: 150px;
    border-width: 0px 1.5px 1.5px;
	border-radius: 0px 0px 5px 5px;
	border-color: rgba(48, 15, 45, 1);
	border-style: solid;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgba(65,65,65,0.85);
    padding: 9px 5px;
    text-decoration: none;
    display: block;
    -webkit-transition: background-color 1s, color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s, color 1s;
}

.dropdown-content a:last-child{
/*	border-radius: 0px 0px 5px 5px;*/
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover{
	background-color: rgba(48, 28, 48, 1);
	color: #f2f2f2;
}

/* Show the dropdown menu on hover. note, can only affect children
if you desire to change the css for one (child) element while hovering
over a (parent) different element */
.dropdown:hover .dropdown-content {
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown:link, .dropdown:visited, .dropdown:active{
	text-decoration: none;
	color: rgba(174, 230, 80, 1);
}



footer{
	background: rgba(255, 255, 255, 0.35);	
	border-top: 3px solid rgba(255, 255, 255, 0);
	text-align: center;
	/*need clear:both for the footer if you want it to always be below
	the bottommost middle section content. Without clear both, the footer
	will go beneath the middle content.*/
	clear:both;
	position:fixed;
	/*need to define width because position is fixed*/
	width: 100%;
	top: 100%;
	margin-top: -30.667px;
	/*used -30.667px for bottom margin because the footer height is 28px
	and footer border is 3px, but renders as 2.667px for some reason*/
	-webkit-transition: background 1s, border-top 3s; /* For Safari 3.1 to 6.0 */
    transition: background 1s, border-top 3s;
}

footer:hover{
	background: rgba(64,64,64,1);	
	border-top: 3px solid rgba(48, 15, 45, 1);
}

#footer-content{
	font-family: 'Georgia', Times, "Times New Roman", serif;
	font-size: 10px;
	color: #f2f2f2;
	padding: 9px 0;
}

.footer-link:link, .footer-link:visited, .footer-link:active{
	text-decoration: none;
	color: #f2f2f2;
	text-decoration: none;
	-webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
    transition: color 1s;
}

.footer-link:hover{
	text-decoration: underline;
	color: lime;
/*	background-color: lime;
	color: rgb(78, 42, 132);*/
}