#one-thought{
	position: absolute;
	/*note the top starts with bottom of the header*/
	margin: 0 10%;
	padding:0;
	border:0;
	top:45%;
	width: 80%;
	/*background-color: rgba(200, 200, 200, 1);*/
	overflow: auto;
	text-align: center;
	letter-spacing: 2px;
	font-size: 20px;
	line-height:30px;
	/*because footer with border is ~31px;*/
	margin-bottom: 31px;
	/*http://stackoverflow.com/questions/30125705/css-how-to-make-an-element-fade-in-and-then-fade-out*/
	-webkit-animation: fadeinout 8s linear forwards;
    animation: fadeinout 8s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  20%, 80% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  20%, 80% { opacity: 1; }
}