.wrapper{
	/*http://www.w3schools.com/colors/colors_picker.asp*/
	/*http://www.w3schools.com/cssref/css_units.asp*/
	/*http://www.w3schools.com/css/css_align.asp*/
	/*background: url("../images/one.JPG");
	background-repeat: no-repeat;*/
	/*background color for areas not covered by background image*/
	/* these rgba values correspond to background-color: #404040
	final number indicates opacity; 0 = invisible, 1 = opaque*/
	/*Hexadecimal: #4E2A84*/
	background: rgba(235,235,235,1);
    background: -webkit-linear-gradient(left top, rgba(150,150,150,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(150,150,150,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(150,150,150,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(150,150,150,1), rgba(255,255,255,0))); /* Standard syntax (must be last) */
	background-size: 100%;
	background-repeat: no-repeat;
}

body{
	background:white;
}

#middle-section{
	margin-top:0px;
}

button{
	font-size: 20px;
	margin: 2px 5px;
}

#main-title{
	font-size: 20px;
	text-align:center;
	background: rgba(235,235,235,0.65);
    background: -webkit-linear-gradient(right bottom, rgba(150,150,150,1), rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top left, rgba(150,150,150,1), rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top left, rgba(150,150,150,1), rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top left, rgba(150,150,150,1), rgba(255,255,255,0))); /* Standard syntax (must be last) */
	background-size: 100%;
	border-radius:10px;
	padding: 10px;
}

#player-status{
	text-align:center;
	margin:15px;
}

#player-status-p1{
	text-align:center;
	margin:15px;
}

#player-status-p2{
	text-align:center;
	margin:15px;
}

#game-content{
	text-align:center;
}

.game-box{
	font-size: 18px;
	text-transform: uppercase;
	/*need vertical-align: top so divs align at top*/
	vertical-align: top;
	width: 175px;
	height: 150px;
	background:white;
	border:1px solid black;
	display:inline-block;
	margin: 0px 10px;
}

#game-messaging{
	margin: 20px 0px;
}

.text{
	font-size:18px;
}

.text-message{
	font-size:15px;
	text-align: left;
	line-height: 120%;
	margin-bottom: 3px;
}
.yy{
	border-radius: 5px;
	background: blue;
	color:white;
	cursor: pointer;
	width: 100px;
	text-align: center;
}
.selections{
	line-height:175%;
	font-family: helvetica, arial, sans-serif;
	font-weight: 600;
	color: purple;
}

.possible-answer:hover{
	cursor: pointer;
	border-radius: 5px;
	background-color: rgb(220,220,220);
}

.chosen{
	font-size:25px;
	font-weight: 700;
	margin: 15px 0px;
}

#message-display{
	width: 65%;
	height: 200px;
	overflow:auto;
	background:white;
	border: 2px solid purple;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

#resolved-game{
	font-size:30px;
	font-weight: 600;
	color:lime;
	padding-top:45px;
}

.communication-bar{
	width:65%;
	margin-top:3px;
	margin-left:auto;
	margin-right:auto;
}

#communication-bar-p1{
	width:65%;
	margin-top:3px;
	margin-left:auto;
	margin-right:auto;
}

#communication-bar-p2{
	width:65%;
	margin-top:3px;
	margin-left:auto;
	margin-right:auto;
}

.message-input{
	width: 85%;
}

#message-input-p1{
	width: 85%;
}

#message-input-p2{
	width: 85%;
}