.app-name{
	position:absolute;
	right:15px;
	top:0;
	display:inline-block;
	border:none;
	border-bottom: 1.5px solid rgba(255, 255, 255, 1);
	text-decoration:none;
	padding: 5px;
	color: rgba(48, 28, 48, 0.5);
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 11px 11px 10px 1px rgba(0,0,0,0.2);
	-webkit-transition: color 1s, box-shadow 1s; /* For Safari 3.1 to 6.0 */
    transition: color 1s, box-shadow 1s;
}

.app-name:hover{
	color: rgba(48, 28, 48, 1);
	box-shadow: -11px 7px 10px 5px rgba(0,0,0,0.35);
}

#main-content{
	margin-top:20px;
}

#exam-content{
	display: inline-block;
	vertical-align: top;
	width: 65%;
	min-width: 250px;
	min-height: 350px;
	border: 2px solid black;
	float: left;
}

#user-panel{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	min-width: 200px;
	height:300px;
	border: 2px solid black;
	float: right;
}

#start-button-div{
	width: 130px;
	height:40px;
	/*border: 1px solid black;*/
	margin: 50px auto 0px;
}

#sb-rectangle{
	width: 100%;
	height: 50%;
	margin-top: 10px;
	background-color: rgba(48, 28, 48, 1);
	background: rgba(235,235,235,0.65);
    background: -webkit-linear-gradient(right bottom, rgba(48, 28, 48, 1), rgba(48, 28, 48,0.2)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top left, rgba(48, 28, 48, 1), rgba(48, 28, 48,0.2)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top left, rgba(48, 28, 48, 1), rgba(48, 28, 48,0.2)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top left, rgba(48, 28, 48, 1), rgba(48, 28, 48,0.2)); /* Standard syntax (must be last) */
}

#sb-center{
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-color: rgba(230, 230, 230, 1);
	background-color: rgba(48, 28, 48, 1);
	/*background: rgba(235,235,235,0.65);*/
    background: -webkit-linear-gradient(left top, rgba(48, 28, 48, 1), rgba(150,150,150,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(48, 28, 48, 1), rgba(150,150,150,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(48, 28, 48, 1), rgba(150,150,150,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(48, 28, 48, 1), rgba(150,150,150,1)); /* Standard syntax (must be last) */
	border: 5px solid white;
	position: relative;
	left: 40px;
	top: -35px;
}

.dif-button{
	margin: 15px auto 0px;
	width: 80px;
	height: 25px;
	border-radius: 10px;
	text-align: center;
	line-height: 25px;
	color: white;
	background-color: rgba(48, 28, 48, 1);
	cursor: pointer;
	-webkit-transition: box-shadow 0.5s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s;
}

.dif-button:hover{
	box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.7);
}













#user-statistics{
	width: 100%;
	height: 35px;
	color: rgba(48, 28, 48, 1);
	text-align: center;
	font-size: 23px;
	font-weight: 700;
}

.player-stats{
	display: inline-block;
	line-height:35px;
}

#start-button{
	width: 50px;
	height: 50px;
	text-align:center;
	color: rgba(48, 28, 48, 1);
	background-color: lime;
	border: 1px solid rgba(48, 28, 48, 1);
	border-radius: 25px;
	margin:7px auto;
	cursor: pointer;
	-webkit-transition: -webkit-transform 1s, font-style 1s; /* For Safari 3.1 to 6.0 */
    transition: transform 1s, font-style 1s;
}

#start-button:hover{
	cursor: pointer;
	-webkit-transform: rotate(720deg); /* Safari */
    transform: rotate(720deg);
    font-style: italic;
}

#start-button:active{
	background-color: purple;
}

#start-word{
	height: 25px;
	width: 100%;
	font-size: 19px;
	line-height:50px;
	font-weight: 700;
	text-align: center;
}

#form-input-answer{
	text-align:center;
	font-size: 15px;
}

#user-response{
	text-align: center;
	width: 150px;
	height:30px;
	font-size:22px;
	line-height: 30px;
}

#answer-button{
	height:36px;
	vertical-align: top;
}


