.app-name{
	position:absolute;
	right:15px;
	top:0;
	display:inline-block;
	border:none;
	border-bottom: 1.5px solid rgba(255, 255, 255, 1);
	text-decoration:none;
	padding: 5px;
	color: rgba(48, 28, 48, 0.5);
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 11px 11px 10px 1px rgba(0,0,0,0.2);
	-webkit-transition: color 1s, box-shadow 1s; /* For Safari 3.1 to 6.0 */
    transition: color 1s, box-shadow 1s;
}

.app-name:hover{
	color: rgba(48, 28, 48, 1);
	box-shadow: -11px 7px 10px 5px rgba(0,0,0,0.35);
}

#main-content{
	margin-top:20px;
}

#main-panel{
	width: 100%;
	border: 2px solid black;
	border-radius: 5px;
	/*font-size 0 necessary so inline-block elements do not account for white space from the html between elements*/
	font-size:0;
}

#start-button-div{
	width: 130px;
	height:40px;
	margin: 15px;
	display: inline-block;
	/*border: 1px solid black;*/
	vertical-align: top;

}

#sb-rectangle{
	width: 100%;
	height: 50%;
	margin-top: 10px;
	background-color: rgba(48, 28, 48, 1);
	box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.7);
	background: rgba(235,235,235,0.65);
    background: -webkit-linear-gradient(right bottom, rgba(48, 28, 48, 1), rgba(48, 28, 48,0.2)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top left, rgba(48, 28, 48, 1), rgba(48, 28, 48,0.2)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top left, rgba(48, 28, 48, 1), rgba(48, 28, 48,0.2)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top left, rgba(48, 28, 48, 1), rgba(48, 28, 48,0.2)); /* Standard syntax (must be last) */
}

#sb-center{
	width: 34px;
	height: 34px;
	border-radius: 34px;
	border: 3px solid white;
	box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.7);
	background-color: rgba(230, 230, 230, 1);
	background-color: rgba(48, 28, 48, 1);
	/*background: rgba(235,235,235,0.65);*/
    background: -webkit-linear-gradient(left top, rgba(48, 28, 48, 1), rgba(150,150,150,1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgba(48, 28, 48, 1), rgba(150,150,150,1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgba(48, 28, 48, 1), rgba(150,150,150,1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgba(48, 28, 48, 1), rgba(150,150,150,1)); /* Standard syntax (must be last) */
	position: relative;
	left: 45px;
	/*top position is -30px because from the top of the circle to the center is 20px, and the rectangle is 20px height total*/
	top: -30px;
}

#difficulty-buttons{
	display: inline-block;
	vertical-align: top;
}

.dif-button{
	width: 80px;
	height: 25px;
	font-size:15px;
	display: inline-block;
	border: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	text-align: center;
	line-height: 25px;
	color: white;
	background-color: rgba(48, 28, 48, 1);
	margin: 0 3.5px;
	cursor: pointer;
	-webkit-transition: box-shadow 0.5s, border-color 1s, color 1s; /* For Safari 3.1 to 6.0 */
    transition: box-shadow 0.5s, border-color 1s, color 1s;
}

.dif-button:hover{
	box-shadow: 5px 5px 8px 1px rgba(0,0,0,0.7);
	border-color: rgba(255, 255, 255, 1);
	color: lime;
}

#streak-section{
	font-size: 15px;
	display: inline-block;
}

#bank-section{
	font-size: 15px;
	display: inline-block;
}

.player-main-info{
	height: 40px;
	width: 30px;
	display: inline-block;
	border: 1px solid lime;
	vertical-align: top;
}

#center-content{
	margin-top: 10px;
}

#left-panel{
	display: inline-block;
	vertical-align: top;
	width: 65%;
	min-width: 250px;
	/*border: 2px solid purple;*/
	border-radius: 5px;
	float: left;
}

#exam-content-header{
	border: 2px solid black;
	border-radius: 5px 5px 0 0;
	border-bottom: none;
	background-color: rgba(180, 180, 180, 1);
	color: white;
	padding: 8px;
	height:30px;
}

#exam-content-question{
	border: 2px solid black;
	background-color: rgba(225, 225, 225, 1);
	color: black;
	text-align: center;
	height:150px;
}

#exam-content-answer-form{
	border: 2px solid black;
	border-radius: 0 0 5px 5px;
	border-top: none;
	background-color: rgba(48, 28, 48, 1);
	color: white;
	padding: 8px;
	height:50px;
}

#countdown{
	background-color: rgba(48, 28, 48, 0.7);
	color: white;
	padding: 10px;
	display: inline-block;
	width: 30px;
	height: 20px;
	margin:5px;
	line-height: 20px;
	vertical-align:top;
}

.user-panel{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	min-width: 200px;
	height:220px;
	border: 2px solid black;
	float: right;
	margin-bottom: 15px;
}

.user-panel:last-child{
	margin-bottom: 30px;
}

#current-prize{
	height: 70px;
}

.prize-info{
	height: 40px;
	width: 30px;
	display: inline-block;
	border: 1px solid lime;
	vertical-align: top;
}



#user-statistics{
	height: 200px;
	color: rgba(48, 28, 48, 1);
	text-align: center;
	font-size: 17px;
}

.stats-content{
	display: inline;
}

















.player-stats{
	display: inline-block;
	line-height:35px;
}

#start-button{
	width: 50px;
	height: 50px;
	text-align:center;
	color: rgba(48, 28, 48, 1);
	background-color: lime;
	border: 1px solid rgba(48, 28, 48, 1);
	border-radius: 25px;
	margin:7px auto;
	cursor: pointer;
	-webkit-transition: -webkit-transform 1s, font-style 1s; /* For Safari 3.1 to 6.0 */
    transition: transform 1s, font-style 1s;
}

#start-button:hover{
	cursor: pointer;
	-webkit-transform: rotate(720deg); /* Safari */
    transform: rotate(720deg);
    font-style: italic;
}

#start-button:active{
	background-color: purple;
}

#start-word{
	height: 25px;
	width: 100%;
	font-size: 19px;
	line-height:50px;
	font-weight: 700;
	text-align: center;
}

#form-input-answer{
	text-align:center;
	font-size: 15px;
}

#user-response{
	text-align: center;
	width: 150px;
	height:30px;
	font-size:22px;
	line-height: 30px;
}

#answer-button{
	height:36px;
	vertical-align: top;
}


